PORT=4000

# MongoDB Connection String
MONGODB_URI="mongodb+srv://<username>:<password>@cluster0.mongodb.net/medsync"

# Cloudinary Credentials (for image uploads)
CLOUDINARY_NAME="your_cloudinary_name"
CLOUDINARY_API_KEY="your_cloudinary_api_key"
CLOUDINARY_SECRET_KEY="your_cloudinary_secret_key"

# JWT Secret for Authentication
JWT_SECRET="your_jwt_secret_here"

# Admin Credentials
ADMIN_EMAIL="admin@medsync.com"
ADMIN_PASSWORD="adminpassword123"

# Payment Gateway
CURRENCY="usd"
STRIPE_SECRET_KEY="sk_test_..."
