@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,600;0,700;1,600&display=swap');
@import "tailwindcss";
@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #00311e;
  --color-pine: #00311e;
  --color-beige: #fef7e5;
  --color-charcoal: #202833;
  --color-pearl: #EAE0C8;
}

body {
  @apply bg-[#fef7e5] text-[#00311e] dark:bg-[#202833] dark:text-[#EAE0C8] transition-colors duration-300;
  font-family: 'Outfit', sans-serif;
}